body {
  padding-top: 70px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
.myImg{
  padding: 20px;
}

/*********************************
  Galerie
************************************/
.first {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.first li {
  list-style:none;
  margin-bottom:25px;
}
.first li img {
  cursor: pointer;
}
.controls{
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}
.text {
  font-family: 'Bree Serif';
  color:#666;
  font-size:11px;
  margin-bottom:10px;
  padding:12px;
  background:#fff;
}
.myCar >p{
  text-align: center;
  font-size: 3em;
}
.red{
  color:red;
}